---
import BotonHeader from "./BotonHeader.astro";

interface Props {
  h1Title: string;
  h2Title: string;
  imageSrc: string;
  imageAlt: string;
}

const { h1Title, h2Title, imageSrc, imageAlt } = Astro.props;
---

<div class:list={["relative", "flex", "h-screen", "w-full", "overflow-hidden"]}>
  <img
    src={imageSrc}
    alt={imageAlt}
    class:list={["absolute", "w-full", "h-screen", "flex"]}
  />
  <div
    class:list={[
      "relative",
      "flex",
      "h-screen",
      "sm:left-30",
      "flex-col",
      "justify-center",
      "gap-5",
      "left-10"
    ]}
  >
    <h1 class:list={["sm:text-6xl font-bold", "text-2xl", "w-3/7", "Pacifico", "sm:font-semibold", "text-brown/90"]}>{h1Title}</h1>
    <h2 class:list={["w-3/7", "mb-2"]}>
      {h2Title}
    </h2>
    <slot>
      <div class:list={["flex", "flex-row", "gap-2"]}>
      <BotonHeader
        botonTexto="Agenda tu cita"
        hrefBoton="Mis Servicios"
        botonPrimario={true}
      />
      <BotonHeader
        botonTexto="Servicios"
        hrefBoton="/servicios"
        botonPrimario={false}
      />
      </div>
    </slot>
  </div>
</div>
